main {
    width: 1024px;
}
section {
    width: 70%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: sans-serif;
    padding-top: 1.5em;
}
h1 {
    font-size: 32px;
}
table,
table * {
    border: 1px solid black;
}
figcaption {
    font-style: italic;
}
figure {
    float: right;
}
p:nth-child(even) {
    color: rgb(219, 219, 219);
    background-color: darkcyan;
    padding: 15px;
    border-top-left-radius: 30px;
}
header {
    margin: 0 auto;
    border: 1px solid grey;
}

.list_item ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.list_item ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-family: sans-serif;
    font-size: 22px;
}
/*.list_item ul > li:last-child {
    background-color: lime;
}
.list_item ul > li:first-child {
    background-color: rgb(173, 255, 173);
}*/
.list_item ul > li:last-child::after {
    content: "\2666";
    display: inline;
    padding-right: 5px;
    align-content: center;
    font-size: 25px;
    padding: 15px;
}
.list_item ul > li:first-child::before {
    content: "\2666";
    display: inline;
    padding-right: 5px;
    align-content: center;
    font-size: 25px;
}
.fx {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.fx p {
    border: 1px solid green;
    width: 200px;
    padding: 15px;
}
p{
    font-family: sans-serif;
    font-weight: 100;
}
